<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" novalidate>
    <ion-grid>
      <ion-col>
        <ion-input fill="outline" formControlName="email" label="Correo" labelPlacement="floating"
          placeholder="Ingrese su correo"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input fill="outline" formControlName="password" type="password" label="Ingrese su contraseña"
          labelPlacement="floating" placeholder="Ingrese su contraseña"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input fill="outline" formControlName="confirmPassword" type="password" label="Confirme su contraseña"
          labelPlacement="floating" placeholder="Confirme su contraseña"></ion-input>
      </ion-col>
      <ion-row>
        <label class="text-danger" *ngIf="passwordValidMessage">
          Las contraseñas no coinciden.
        </label>
        <label class="text-danger" *ngIf="loginError">
          Error al iniciar.
        </label>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button [disabled]="!form.valid" type="submit" (click)="register()" expand="block">Registro</ion-button>
        </ion-col>
        <ion-col>
          <ion-button routerLink="/login" type="button" expand="block">Ingresar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
